/* Grid container */
.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  background-color: #eee;
  padding: 16px;
}

/* Boxes / Cards */
.key-metrics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .card-content {
    margin-bottom: 24px;
    div {
      margin-bottom: 16px;
    }
  }
}
.card {
  background: white;
  border-radius: 1rem;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .card {
    box-shadow: unset; /* no boxshadow for a card within a card */
  }

  h2 {
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: center;
  }
  .card-content {
    p {
      margin: 0;
      margin-block-start: 0;
    }
    .label {
      font-size: 12px;
      color: #9ca3af;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      font-weight: 500;
      margin-bottom: 4px;
    }
    .red {
      color: red;
    }
    .green {
      color: green;
    }
  }

  .cost {
    display: flex;
    flex-direction: column;

    .num {
      font-size: 2em;
      font-weight: bold;
      color: black;
      line-height: 1;
      margin-bottom: 8px;
    }

    .cost-change {
      font-size: 14px;
      font-weight: 500;
    }
  }
}

/* Responsive column spans */
.col-span-12 {
  grid-column: span 12;
}
.col-span-8 {
  grid-column: span 8;
}
.col-span-6 {
  grid-column: span 6;
}
.col-span-4 {
  grid-column: span 4;
}

@media (max-width: 768px) {
  .col-span-6,
  .col-span-4,
  .col-span-8 {
    grid-column: span 12;
  }
}
